$primary: #03C988;
$primary-1: #4dc9a0;
$primary-light: #46e9b5;
$primary-dark: #f3af44;
$secondary: #00337C;
$secondary-1: #1C82AD;
$secondary-light: #eff2fc;
$black: #101010;
$black-2: #13005A;
$black-3: #33353e;
$black-4: #33354d;
$black-5: #666;
$black-primary: #3b3d6b;
$black-secondary: #1d263a;
$black-bg: #000d30;
$white: #fff;
$white-1: #f8f8f8;
$white-2: #ededed;
$white-3: #e2e4eb;
$white-primary: #fff1ed;
$white-secondary: #99cfe6;
$white-bg: hsl(198, 72%, 98%);
$gray: #d7cebd;
$gray-1: #b1aa9e;
$gray-3: #d6dfdb;

$red: #ff6944;
$green: #63ff44;

$font-primary: "Urbanist", sans-serif;
$font-secondary: "Inter", sans-serif;
$font-dm-sans: "DM Sans", $font-secondary;
